aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
docx2txt
faiss-cpu
Flask
flask-cors
Flask-Mail
frozenlist
greenlet
groq
gunicorn
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jsonlines
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-groq
langchain-nomic
langchain-text-splitters
langsmith
loguru
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
nomic
numpy
orjson
packaging
pandas
pdfminer.six
pdfplumber
pillow
propcache
pyarrow
pycparser
pydantic
pypdf
pydantic-settings
pydantic_core
Pygments
PyJWT
pypdfium2
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
pymupdf
requests
requests-toolbelt
rich
six
sniffio
SQLAlchemy
tenacity
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
unstructured
Werkzeug
win32_setctime
yarl
zstandard
google-auth
google-auth-oauthlib
fastembed
tenacity
tiktoken
